.fl-rw {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pd-lt {
    padding-left: 26px;
}
.circleIcon {
    position: absolute;
    
    left: -26px;
    background: #00B894;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}